/* ------------------------------------------------------------
Experience Section
-------------------------------------------------------------*/
#experienceSection {
  border-top: 1px solid #cccccc;
}
#experienceSection.secTitle {
  background-color: #fcfcfc;
}
.experienceSquares {
  background-color: #444444;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
}
.eSquare {
  background-color: #333333;
  color: #aaaaaa;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-decoration: none;
  height: 200px;
  text-align: center;
}
.eSquare:hover {
  background-color: #444444;
}
.eSquareImg {
  display: inline-block;
  margin: 20px 10px 10px 10px;
  background-color: #eeeeee;
}
.archiveLink {
  text-align: center;
}
