
body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  font-family: arial;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}

#headingSection {
  background-color: #ffffff;
  position: relative;
  text-align: center;
}



/* ------------------------------------------------------------
TIME LINE SECTION
-------------------------------------------------------------*/
#timelineSection {
  padding: 0;
  margin: 0;
  position: relative;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #aaaaaa;
}
#timeline {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #333333;
  direction: rtl;
  white-space: nowrap;
  overflow-x: scroll;
	overflow-y: hidden;
  height: 525px; /* 25px more due to custom scroller bar */
}
.tEvent {
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block;
  text-align: center;
  top: 0px;
  width: 250px;
  height: 500px;
  text-decoration: none;
}
.tInfo {
  color: white;
  width: 100%;
  height: 100%;
  text-align: left;
  white-space: normal;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  position: absolute;
  background-color: #444444;
}
.tInfoTriangle {
  width: 0;
	height: 0;
  position: absolute;
	border-left: 20px solid transparent;
	border-right: 0px solid transparent;
	border-top: 45px solid #444444;
}
.tLine {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 5px;
  width: 105%;
  top: 262px;
  right: 50%;
  background-color: #eeeeee;
}
.tDot {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 250px;
  right: 100px;
  background-color: #eeeeee;
}
.tYear {
  text-align: center;
  color: white;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 300px;
  right: 100px;
}
/* ------------------------------------
Custom Event Boxes
--------------------------------------- */
#tInfo2010 {
  width: 180px;
  height: 125px;
  top: 70px;
  right: 150px;
  border-radius: 10px 10px 0px 10px;
}
#tInfo2010Triangle {
  top: 195px;
  right: 150px;
}
#tInfo2012 { /* KSL story */
  width: 285px;
  height: 85px;
  top: 130px;
  right: 50px;
  border-radius: 10px 10px 0px 10px;
}
#tInfo2012Triangle {
  top: 205px;
  right: 50px;
}
#tInfo2011 { /* First game City Sky */
  width: 170px;
  height: 80px;
  top: 30px;
  right: 165px;
  border-radius: 10px 10px 0px 10px;
}
#tInfo2011Triangle {
  top: 100px;
  right: 165px;
  border-left: 20px solid transparent;
	border-top: 150px solid #444444;
}
#tInfo2013 { /* Harman QA */
  width: 200px;
  height: 125px;
  top: 70px;
  right: 0px;
  border-radius: 10px 10px 0px 10px;
}
#tInfo2013Triangle {
  top: 195px;
  right: 0px;
}
#tInfo2014 { /* Graduated HS */
  width: 200px;
  height: 90px;
  top: 125px;
  right: 0px;
  border-radius: 10px 10px 0px 10px;
}
#tInfo2014Triangle {
  top: 205px;
  right: 0px;
}
#tInfo2014b { /* Received AS Degree */
  width: 200px;
  height: 90px;
  top: 20px;
  right: 0px;
  border-radius: 10px 10px 0px 10px;
}
#tInfo2014Triangleb {
  top: 100px;
  right: 0px;
}

#tInfo2016 { /* Mission */
  width: 450px;
  height: 155px;
  top: 40px;
  right: 0px;
  border-radius: 10px 10px 0px 10px;
}
#tInfo2016Triangle {
  top: 195px;
  right: 0px;
}


/* SCROLLBAR ISH -->
/* width */
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 10px;
  border: 1px solid #555555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dddddd;
}



/* fonts */
.titletext {
  font-family: 'Lobster-Regular';
  font-weight:normal;
  font-style:normal;
  font-size: 90pt;
  padding-top: 35px;
  text-align: center;
  color: transparent;
  background: #111111;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.25);
}
.secTitle {
  font-family: 'Lobster-Regular';
  font-weight:normal;
  font-style:normal;
  font-size: 56pt;
  text-align: center;
  color: transparent;
  background: #a80b00;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 2px 2px rgba(255,255,255,0.35);
}
